gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# touched on 2025-05-28T20:50:28.948666Z
# touched on 2025-05-28T20:51:58.289482Z
# touched on 2025-05-28T20:52:55.187834Z